.root {
  margin-top: 1.5rem;
}

.title {
  padding: 0;
  background: none;
  color: inherit;
}

.title span {
  padding: 0 0.5rem;
  color: #0c071e;
  background-color: #dcffba;
  box-decoration-break: clone;
}
