.modalCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: #ff0;
  outline: none;
  line-height: 1;
  cursor: pointer;
}
.modalCloseButton:hover,
.modalCloseButton:focus {
  text-decoration: none;
}
.modalCloseButton:focus {
  outline: 2px dotted #ff0;
  outline-offset: 2px;
}
