.spoilerBox {
  margin-bottom: 1rem;
  padding: 5px;
  color: #100213;
  background-color: #6caf83;
}

.spoilerBox .spoilerBoxToggle {
  display: block;
  width: 100%;
  cursor: pointer;
  background: none;
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px dotted #0f0f0f;
}
.spoilerBox .spoilerBoxToggle:hover {
  text-decoration: none;
}
.spoilerBox .spoilerBoxToggle:focus {
  outline: 2px dotted #ff0;
  outline-offset: 2px;
}

.spoilerBoxContent {
  margin-top: 6px;
}
