.goodiesSidebar {
  margin-top: 40px;
  padding: 1rem;
  overflow-y: auto;
  background-color: #F47829;
  color: #000;
}

.goodiesSidebar .goodiesSidebarTitle {
  background-color: #0C071E;
  color: #F47829;
}

.goodiesSidebar a {
  color: #00B5EF;
}
