.goodiesSidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  max-width: 300px;
  overflow-y: auto;
  background-color: #dcffba;
  color: #000;
  z-index: 3;
}

.goodiesSidebar .goodiesSidebarTitle {
  background-color: #0C071E;
  color: #dcffba;
}
