.goodiesSidebar {
  margin-top: 40px;
  padding: 1rem;
  overflow-y: auto;
  background-color: #dcffba;
  color: #000;
}

.goodiesSidebar .goodiesSidebarTitle {
  background-color: #0C071E;
  color: #dcffba;
}
